/* -------Header Button Design------- */
.homeFilterBtnHeader-container-section {
  width: 60%;
  margin-top: 80px !important;
  margin-bottom: 40px !important;
  display: flex;
  justify-content: center;
  margin: auto;
}

.header_btn {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.header_btn button {
  width: 100%;
  background: #ef8341;
  border-radius: 4px;
  margin: 5px 10px;
  padding: 7px 20px;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.discountFlashSaleBTn {
  overflow: hidden;
}

.dropdown-menu {
  font-family: "Montserrat", sans-serif;
  padding: 2px 0px;
}
.dropdown-item {
  padding-left: 12px;
  padding-right: 12px;
}

.dropdown-toggle::after {
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: 2px;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

hr:not([size]) {
  height: 1px;
  margin: 0px;
  padding: 0px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: black;
  background: #ffffff;
}

@media only screen and (max-width: 1550px) {
  /* .homeFilterBtnHeader-container-section {
    width: 90%;
  } */

  .header_btn {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
<<<<<<< HEAD

=======
  .homeFilterBtnHeader-container-section {
    width: 60%;
    margin-top: 70px !important;
    margin-bottom: 10px !important;
  }
>>>>>>> 1fec612c86b9230febb96db6379fc0cb4391ed14
  .header_btn {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px !important;
    justify-content: center;
    align-items: center;
  }
  .header_btn button {
    width: 120px;
    /* margin: 5px ; */
    padding: 5px;
    font-size: 12px;
  }

  .discountFlashSale {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 576px) {
  .homeFilterBtnHeader-container-section {
    width: 45%;
    
  }

  .header_btn {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px !important;
    justify-content: center;
    align-items: center;
  }

  .header_btn button {
    width: 120px;
    height: 25px;
    margin: 5px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .header_btn button {
    width: 100px;
    margin: 5px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 450px) {
  .header_btn {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px !important;
    justify-content: center;
    align-items: center;
  }
  .header_btn button {
    width: 100px;
    margin: 5px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 350px) {
  .header_btn button {
    width: 90px;
    margin: 5px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 320px) {
  .header_btn button {
    width: 80px;
    margin: 5px;
    font-size: 12px;
  }
}
