#sidebarMenu {
  width: 100%;
  background: #ffffff;
  transition: transform 250ms ease-in-out;
  /* overflow: scroll; */
  padding: 2px;
}

#sidebarMenu::-webkit-scrollbar {
  display: none;
}

#sidebarMenu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#openSidebarMenu,
#closeSidebarMenu {
  display: none;
}

.openSidebarIconToggle,
.closeSidebarIconToggle {
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 20;
  top: 12px;
  left: 15px;
  cursor: pointer;
}
.openSidebarIconToggle {
  display: none;
}
.openSidebarIconToggle i,
.closeSidebarIconToggle i {
  color: white;
  font-size: 24px;
  position: absolute;
}

#openSidebarMenu:checked ~ #sidebarMenu {
  transform: translateX(-300px);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-left: -34px;
  list-style: none;
}
.menu li a {
  width: 100%;
  padding: 0px 10px;
  color: rgb(65, 65, 65);
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
}

.menu li img {
  width: 25px;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px;
  background: #fff;
}
.menu li span {
  font-size: 10px;
  margin: 5px 2px 0px 0px !important;
}

.sidebar-Icon {
  border-radius: 2px;
}
.categoryMenu {
  position: relative;
}

.submenu_container {
  width: 260px;
  height: 400px;
  position: absolute;
  background: #fff;
  border: 1px solid gainsboro;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
  margin-left: 240px;
  margin-top: -33px !important;
  z-index: 999;
}
.subMenu {
  border-left: 1px solid rgb(216, 216, 216);
}
.subSubMenu {
  /* border-left: 1px solid rgb(216, 216, 216); */
}
.subMenu li,
.subSubMenu li {
  width: 260px;
  font-size: 12px;
  list-style: none;
  cursor: pointer;
  border-bottom: none;
}
.subMenu li a:hover,
.subSubMenu li a:hover {
  color: #fd7e14;
}

.subMenu li a {
  width: 260px;
  font-size: 12px;
}

.subMenuActive,
.subSubMenuActive {
  color: #fd7e14 !important;
  font-weight: 600 !important;
}
.closeMenu {
  display: none;
}

.subSubMenu_container {
  width: 785px;
  height: 400px;
  position: absolute;
  background: #fff;
  border: 1px solid gainsboro;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 84%;
  margin-top: -53px !important;
  padding: 5px 10px;
  z-index: 999;
}
.subSubMenu {
}
