/* #sidebarMenu {
  width: 100%;
  background: #ffffff;
  transition: transform 250ms ease-in-out;
  padding: 2px;
}

#sidebarMenu::-webkit-scrollbar {
  display: none;
}

#sidebarMenu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#openSidebarMenu,
#closeSidebarMenu {
  display: none;
}

.openSidebarIconToggle,
.closeSidebarIconToggle {
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 20;
  top: 12px;
  left: 15px;
  cursor: pointer;
}
.openSidebarIconToggle {
  display: none;
}
.openSidebarIconToggle i,
.closeSidebarIconToggle i {
  color: white;
  font-size: 24px;
  position: absolute;
}

#openSidebarMenu:checked ~ #sidebarMenu {
  transform: translateX(-300px);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-left: -34px;
  list-style: none;
}
.menu li a {
  width: 100%;
  padding: 0px 10px;
  color: rgb(65, 65, 65);
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
}

.menu li img {
  width: 25px;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px;
  background: #fff;
}
.menu li span {
  font-size: 10px;
  margin: 5px 2px 0px 0px !important;
}

.sidebar-Icon {
  border-radius: 2px;
}
.categoryMenu {
  position: relative;
}

.submenu_container {
  width: 260px;
  height: 400px;
  position: absolute;
  background: #fff;
  border: 1px solid gainsboro;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
  margin-left: 240px;
  margin-top: -33px !important;
  z-index: 999;
}
.subMenu {
  border-left: 1px solid rgb(216, 216, 216);
}

.subMenu li,
.subSubMenu li {
  width: 260px;
  font-size: 12px;
  list-style: none;
  cursor: pointer;
  border-bottom: none;
}
.subMenu li a:hover,
.subSubMenu li a:hover {
  color: #fd7e14;
}

.subMenu li a {
  width: 260px;
  font-size: 12px;
}

.subMenuActive,
.subSubMenuActive {
  color: #fd7e14 !important;
  font-weight: 600 !important;
}
.closeMenu {
  display: none;
}

.subSubMenu_container {
  width: 785px;
  height: 400px;
  position: absolute;
  background: #fff;
  border: 1px solid gainsboro;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 84%;
  margin-top: -53px !important;
  padding: 5px 10px;
  z-index: 999;
} */

/* new css*/

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e8e8e8;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ff8800;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #858585;
}
.hero_menu {
  position: relative;
  z-index: 10;
}
.hero_content {
  height: 400px;
  overflow-y: auto;
  direction: rtl;
  border-radius: 5px;
  padding-left: 0rem;
  padding-top: 4px;
}

.menu_list {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 273px;
  padding: 0px 5px;
  font-size: 10px;
}


.menu_item {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
.category_icon {
  width: 20px;
  border: 1px solid gainsboro;
  border-radius: 3px;
  margin-bottom: 5px;
}
.category_icon img {
  width: 100%;
}

.menu_item p {
  font-size: 14px;
  margin-bottom: 0px;
}

.hero_content {
  direction: ltr;
  list-style: none;
  border: 1px solid gainsboro;
}

.dropdown_menu {
  display: none;
  border: none;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: transparent;
  /* border: 1px solid gainsboro; */
}
.dropdown_menu p {
  font-size: 14px;
  margin-bottom: 0px;
}
.sub_menu {
  height: 400px;
  list-style: none;
  border-radius: 5px;
  border: 1px solid gainsboro;
  background-color: rgb(255, 255, 255);
  margin-left: 5px;
  padding-top: 5px;
  overflow-y: auto;
}
.sub_menu_list{
  display: flex;
  padding-left: 5px;
}
.menu_list:hover {
  color: #ff8800;
}
.menu_list:hover .dropdown_menu {
  display: block;
  position: absolute;
  top: 0;
  left: 96%;
  z-index: 20;
}

.sub_menu_item {
  display: flex;
  justify-content: space-between;
  width: 273px;
  padding: 2px 5px 2px 10px;
  font-size: 14px;
  color: rgb(65, 65, 65);
}
.sub_menu_item i{
  font-size: 12px;
}

.dropdown_menu_1 {
  height: 400px;
  display: none;
  padding-left: 0px;
  margin-left: -6px;
  background-color: transparent;
}
.sub_menu_1 {
  width: 700px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 5px 20px 10px 20px;
  list-style: none;
  overflow-y: auto;
}
.mega_sub_menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 10px;
  padding-top: 10px;
  margin-top: 10px;
}
.mega_sub_menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mega_sub_menu_item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid gainsboro;
}
.mega_sub_menu_item p {
  color: rgb(48, 48, 48);
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
.sub_menu_1 .sub_menu_item {
  font-size: 14px;
  color: #555;
}
.sub_menu_1 h5 {
  color: #555;
}

.sub_menu_list:hover .dropdown_menu_1 {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  z-index: 20;
}
.error_msg p {
  color: black;
  font-size: 20px;
  text-align: center;
}
.sub_menu_item:hover {
  color: #ff8800;
}

ul {
  padding-left: 0rem;
}
