/* nav css start */
.navbar-section{
  top: 0;
}
/* .topBar_container{
  height: 40px;
  width: 100%;
  background: #ef8341;
  position: fixed;
  top: 0;
  transition: all 1s;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 7px;
  color: #f1f1f1;
}
.topBar_container p{
  margin-top: 10px;
}
.topBar_container i{
  background: #fff;
  color: #ef8341;
  border-radius: 100px;
  padding: 3px 5px;

} */
.nav {
  background: #ef8341;
  /* border-top: 1px solid rgb(231, 231, 255); */
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  transition: all 1s;
  z-index: 9999;
}
.nav-content {
  width: 100%;
  margin: 10px 20px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 15px;
  width: 200px;
}

.bpshopsLogo {
  width: 11em;
  cursor: pointer;
  transition: all 1s;
  border-radius: 30px;
}
.bppshopShortLogo {
  width: 40px;
  cursor: pointer;
  display: none;
}
.bpshopsIcon {
  display: none;
  transition: all 1s;
}

.searchInput {
  position: relative;
  width: 40%;
  justify-content: center;
  /* z-index: 999; */
}

.search {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: none;
  padding: 8px 30px 8px 15px;
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: all 0.3s;
  margin-left: -15%;
}

.searchIcon {
  position: absolute;
  margin-left: -28px;
  margin-top: 8px;
  cursor: pointer;
}


/* .suggested_item_container::-webkit-scrollbar {
  display: none;
} */

.suggested_item_container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #979797;
}

.suggested_item_container {
  width: 100%;
  max-height: 35vh;
  background-color: #fff;
  border: 1px solid gainsboro;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  margin-left: -15%;
  margin-top: -10px;
  position: absolute;
  padding: 10px 0px;
  overflow-y: scroll;
  z-index: -1;
}
.search_item_show {
  border-top: 1px solid gainsboro;
  /* margin-top: 5px; */
}
.suggested_item_container p {
  padding: 5px 15px 0px 15px;
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

.suggested_item_container p i {
  margin-right: 5px;
}

.helpLine{
  position: absolute;
  background: #fff;
  padding: 3px 20px 3px 5px;
  border-radius: 30px;
  color: #ef8341;
  margin-left: 80%;
}

.helpLine i{
  font-size: 20px;
  background: #ef8341;
  color: #fff;
  padding: 2px 5px;
  border-radius: 100px;
}
.helpLine span{
  font-size: 20px;
  margin-left: 10px;
}


.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.user-profile img {
  width: 100%;
}
.dropdown-item {
  cursor: pointer;
}

.profile_dropdown a {
  text-decoration: none;
}

/* responsive css */
/* @media only screen and (max-width: 1400px) {
  .searchInput {
    position: relative;
    width: 55%;
    justify-content: center;
  }
} */
@media only screen and (max-width: 768px) {
  .nav-content {
    margin: 10px 13px 10px 30px;
  }
  .bpshopsLogo {
    display: none;
  }
  .bppshopShortLogo {
    display: block;
  }
  .searchInput {
    position: relative;
    width: 60%;
    justify-content: center;
    margin-left: -70px;
  }
}
@media only screen and (max-width: 668px) {
  
  .searchInput {
    margin-left: -75px;
  }
}


@media only screen and (max-width: 576px) {
  .searchIcon {
    margin-top: 8px;
  }
  .search {
    font-size: 13px;
  }
  .searchInput {
    margin-left: -85px;
  }
  .user-profile {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 480px) {
  .searchIcon {
    font-size: 13px;
  }
  .searchInput {
    margin-left: -90px;
  }
}
@media only screen and (max-width: 400px) {
  .searchInput {
    margin-left: -100px;
  }
}

@media only screen and (max-width: 360px) {
  .searchIcon {
    padding-left: 5px;
  }
}
