.modal-container {
  width: auto;
  font-family: "Montserrat", sans-serif;
  color: #303030;
}
.imageView SliderImage {
  width: 382px;
  /* height: 100% !important; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  overflow: hidden;
}
.imageView img {
  width: 100%;
}
.productName_wishlist,
.price_Stock_Code,
.quantity-content {
  border: 0.3px solid gainsboro;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pc-size-color {
  border: 0.3px solid gainsboro;
  padding: 8px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
/* .activeColor{
  border: 2px solid #ef8341;
} */
.productName_wishlist span i {
  color: #f82828;
  font-size: 24px;
  cursor: pointer;
}
.prices {
  color: #ef8341;
  font-weight: 700;
}
.price_Stock_Code p strong {
  color: #ef8341;
  font-size: 17px;
}
.price_Stock_Code p span {
  margin-left: 40px;
}

.option {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  background: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 3px;
  cursor: pointer;
}

.activeOption{
  background: #ef8341;
  color: #ffff;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 3px;
  cursor: pointer;
}

.color h5{
  font-size: 17px;
  margin-right: 10px;
}
.size h5 {
  font-size: 17px;
  margin-right: 10px;
}
.color1 {
  width: 40px;
  height: 40px;
  border: 0.5px solid gainsboro;
  border-radius: 5px;
  background: rgb(53, 53, 53);
}
.color2 {
  width: 40px;
  height: 40px;
  border: 0.5px solid gainsboro;
  border-radius: 5px;
  background: rgb(207, 127, 8);
  margin-left: 6px;
}
.quantity {
  width: 200px;
  border: 0.5px solid gainsboro;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  margin-left: 20px;
}
.plus,
.minus {
  cursor: pointer;
  font-size: 24px;
  background: gainsboro;
  padding: 0px 15px;
  color: #000000;
}
.plus:hover,
.minus:hover {
  color: #ef8341;
}

.product_description {
  font-size: 14px;
  font-weight: 500;
}

.react-slider__ul {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0px 0px -32px !important;
  justify-content: flex-start;
  height: 70px;
}
.quickViewMinusBtn, .quickViewPlusBtn {
  cursor: pointer;
  background: gainsboro;
  padding: 5px 10px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}


.react-slider__ul li {
  position: relative;
  width: 100px;
  cursor: pointer;
  padding: 0;
  list-style: none;
  margin: 0% 10px 0px 0px !important;
  flex: 0 0 14%;
}
.react-slider__imgZoom {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(20px);
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  border: thin solid #ccc;
  opacity: 0;
  z-index: -9999;
  transition: opacity 0.3s ease-in-out;
}

.react-slider__lens {
  position: absolute;
  border: 0px solid #d4d4d4;
  width: 90px !important;
  height: 90px !important;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.react-slider__ul li.active img {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgb(189, 189, 189) !important;
}

.product_description {
  height: 160px;
  overflow-y: scroll;
  margin: 20px 0px;
}
/* .product_description::-webkit-scrollbar {
  display: none;
}

.product_description {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

