.brand_section_ad_banner img{
  width: 100%;
}

.brand_section_content_container{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px ;
}

.brand_section_content{
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;

}
.brand_section_content:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.brand_section_content img{
  width: 100px;
}

.brand_section_content_container_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand_section_content_view_more_btn{
  border: none;
  background: none;
  color: #fd7e14;
  font-weight: 500;
  font-size: 14px;
}